<% layout('/layouts/boilerplate') -%>

    <body>
        <div class="main">
            <div class="basicinfo">
                <div class="logo row row-cols-1 row-cols-md-2 g-4"><img src="<%= club.clubLogo %>" alt="Club Logo">
                </div>
                <div class="info">
                    <h1>
                        <%= club.name %>
                    </h1>
                </div>
            </div>
            <section class="sociallinks">
                <h3>Follow Us:</h3>
                <a href="<%= club.social_links.instagram %>" target="_blank"><i class="fa-brands fa-instagram fa-2xl"
                        style="color: #f20d0d;"></i></a> |
                <a href="<%= club.social_links.linkedin %>" target="_blank"><i class="fa-brands fa-linkedin fa-2xl"
                        style="color: #1a2d78;"></i></a>
            </section>
        </div>
        <div class="desc">
            <h1>Club Information</h1>
            <p>
                <%= club.description %>
            </p>
        </div>
        <div class="vision">
            <h1>Club Vision</h1>
            <ul>
                <% club.vision.forEach(vision=> { %>
                    <li>
                        <%= vision %>
                    </li>
                    <% }); %>
            </ul>
        </div>

        <div class="mission">
            <h1>Club Mission</h1>
            <ul>
                <% club.mission.forEach(mission=> { %>
                    <li>
                        <%= mission %>
                    </li>
                    <% }); %>
            </ul>
        </div>
        <div class="domain" style="padding-top: 2em;">
            
            <h1>Our Domains</h1>
            <div class="getdomain" style="display: flex; justify-content:center;  align-items: center;">
                <a href="http://localhost:8080/collage_club/domainInfo?" src="">Get Info Of All the Domain</a>
            </div>
        </div>
        </div>
            <div class="domains row row-cols-1 row-cols-md-3 g-4">
                <% club.domains.forEach(domain=> { %>
                    <div class="col text-center">
                        <img src="https://www.aisa-viit.com/images/domains/design.jpg" alt="<%= domain.name %>">

                        <h3>
                            <%= domain.name %>
                        </h3>
                    </div>
                    <% }) %>
            </div>
        </div>



        <div class="core-team ">
            <h1>
                Our Core Team
            </h1>
            <section class="team-section">
                <% club.coreTeam.forEach(member=> { %>
                    <div class="profile-card">
                        <img src="<%=member.photo%>" alt="">
                        <div class="info-overlay">
                            <div class="member-name">
                                <%= member.name %>
                            </div>
                            <div class="member-role">
                                <%= member.role %>
                            </div>
                            <div class="icon">
                                <a href="#" target="_blank"><i class="fa-brands fa-instagram fa-2xl"
                                        style="color: #f20d0d;"></i></a>   |
                                <a href="#" target="_blank"><i class="fa-brands fa-linkedin fa-2xl"
                                        style="color: #1a2d78;"></i></a>   |
                                <a href="#" target="_blank"><i class="fa-solid fa-envelope fa-2xl" style="color: #fb1404;"></i></a>
                            </div>
                        </div>
                    </div>
                    <% }); %>
            </section>
        </div>

        <div class="domain" style="padding-top: 2em;">
            <h1>Photo Gallary</h1>
            <div class="domains row row-cols-1 row-cols-md-3 g-4">
                <% club.photoGallery.forEach(photo=> { %>
                    <div class="carde col text-center">
                        <img src="<%= photo.imageUrl %>" alt="<%= photo.caption %>">
                        <h3>
                            <%= photo.caption %>
                        </h3>
                        <!-- <p><%= photo.description %></p> -->
                    </div>
                    <% }) %>
            </div>
        </div>




    </body>