<% layout('/layouts/boilerplate') -%>

    <body>
        <div class="main">
            <div class="basicinfo">
                <div class="logo"><img src="<%= club.clubLogo %>" alt="Club Logo" width="200"></div>
                <div class="info">
                    <h1>
                        <%= club.name %>
                    </h1>
                </div>
            </div>
            <section class="sociallinks">
                <h3>Follow Us:</h3>
                <a href="<%= club.social_links.instagram %>" target="_blank"><i
                        class="fa-brands fa-square-instagram"></i></a> |
                <a href="<%= club.social_links.linkedin %>" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            </section>
        </div>
        <div class="desc">
            <h1>Club Information</h1>
            <p>
                <%= club.description %>
            </p>
        </div>
        

    </body>