<% layout('/layouts/boilerplate') -%>

<body>
    <div class="main">
        <div class="content-box">
          <div class="left-box">
            <div class="event-image" style="width: 80%; height: 60%; border-radius: 5px;">
              <img style="border-radius: 20px;" src="<%=event.Event_Image %>" alt=""> 
              <div class="event-btn">
                <h2 style="text-align: center;"><strong><%= event.Event_Name %></strong></h2>
                <button class="btn-primary"><a href="<%=event.Event_Link %>">Join Event</a></button>
              </div>
              <h4 style="margin-top: 2em; font-weight: bold;">Event Description:</h4>
              <h4 class="desc des"><%= event.Event_Description %></h4>
              <h4 style="margin-top: 2em;"><strong>Event Highlights:</strong></h4>
              <ul style="margin-top: 0.5em;">
                <% event.Event_Highlight.split(/  +/).forEach(function(highlight) { %>
                  <li><%= highlight.trim() %></li>
                <% }) %>
              </ul>
              <div class="evt-details" style="display: flex; justify-content: space-between;">
              <h5><strong>Event Type:</strong> <%=event.Event_Type%></h5>
              <h5><strong>Event Date:</strong> <%=event.Event_Date%></h5>
              <h5><strong>Event Location:</strong> <%=event.Event_Location%></h5>
              </div>
            </div>
          </div>
        </div>
      </div>
</body>